/*=============== FONTS ===============*/
@font-face {
    font-family: MullerRegular;
    src: url("../fonts/MullerRegular.otf");
}

@font-face {
    font-family: MullerBold;
    src: url("../fonts/MullerBold.otf");
}

@font-face {
    font-family: MullerExtraBold;
    src: url("../fonts/MullerExtraBold.otf");
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: MullerRegular, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn {
    background-color: rgb(255, 175, 24);
    width: 224px;
    height: 60px;
    cursor: pointer;
    border: 0;
    outline: none;
    padding: 22px;
    font-size: 16px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(56, 36, 0);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*=============== HEADER & NAV ===============*/
.header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
    padding: 16px 0 15px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .menu .menu-item a {
    font-size: 16px;
    color: rgb(164, 107, 0);
    line-height: 1.2;
}

.header .menu ul {
    width: 489px;
    display: flex;
    justify-content: space-between;
}

/*=============== MAIN ===============*/
.main {
    margin: 132px 0 81px 0;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info {
    max-width: 656px;
}

.main .main-info h1 {
    font-size: 45px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(185, 145, 80);
    line-height: 1.222;
}

.main .main-info h1 span {
    color: #ffaf18;
}

.main .main-advantages {
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .advantage {
    margin-top: 47px;
    max-width: 306px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .advantage-text {
    margin-left: 16px;
}

.main .advantage-title {
    font-size: 16px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(255, 175, 24);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main .advantage-description {
    font-size: 16px;
    color: rgb(185, 145, 80);
}

.main .main-action {
    margin-top: 60px;
}


